<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">  
		
	<context:component-scan base-package="com.dillesh.web.controller" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		
		</property>
	</bean>

	<mvc:resources mapping="/resources/**" location="/resources/theme1/"  cache-period="31556926"/>
	
	<!-- 
	<mvc:resources mapping="/resources/**" location="/WEB-INF/mytheme1/" />
 	-->
 
	<mvc:annotation-driven />
	
<!-- 	<aop:aspectj-autoproxy></aop:aspectj-autoproxy> -->

  	<bean id ="jdbc1" class = "org.springframework.jdbc.datasource.DriverManagerDataSource" >
  		<property name = "driverClassName" value = "oracle.jdbc.driver.OracleDriver " />
  		<property name = "url" value = "jdbc:oracle:thin:@localhost:1521:xe" />
  		<property name = "username" value = "system" />
  		<property name = "password" value = "orcl11g" />
  	</bean>
  
  	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
		<property name="dataSource" ref="jdbc1"></property>  
  	</bean>  
  
<!--  	<bean id = "loggingAspect" class = "com.org.LoggingAspect.LoggingAspect" /> -->
 	
	<bean id="userdao" class="com.org.implementation.UserDaoImpl">  
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>  
	</bean>  
	
</beans>